APP_NAME="Watch DNS"
APP_ENV="development"
APP_PORT=8080

DB_PATH="./data/guarddns.db"

NEXTDNS_PROFILE_ID="xxxxxxxx"
NEXTDNS_API_KEY="xxxxxxxxxxxxxxxx"
NEXTDNS_LOG_STREAM=true

TELEGRAM_BOT_TOKEN=123456:xxxxxxxx
TELEGRAM_CHAT_ID=123456789

REPORT_TIME=21:00
TIMEZONE="Asia/Jakarta"

RISK_THRESHOLD=80

LOG_LEVEL="info"