# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the Go toolchain
*.out

# Go workspace file
go.work
go.work.sum

# Dependency directories
vendor/

# Build directories
/bin/
/build/
/dist/

# IDE/editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# env
.env

# sqlite database
.db